{
	acme_dns acmerelay {
		api_key {$ACME_APIKEY}
		endpoint https://api.dodobox.site/acmerelay
	}
}

{$DOMAIN_NAME}:{$WEB_PORT} {
	reverse_proxy web:3000
	encode zstd gzip

	handle_path /api/* {
		reverse_proxy api:8000
	}
}

www.{$DOMAIN_NAME}:{$WEB_PORT} {
	redir https://{$DOMAIN_NAME}:{$WEB_PORT}{uri}
}
