// color to use
$primary: #000246;

// sidebar options
$sidebar-bg-color: $primary !default;
$submenu-bg-color: $primary !default;


// delete horizontal scrollbar
body {
  overflow-x: hidden
}

//.pro-sidebar-inner { position: fixed ; }


//css DeviceBox.tsx
.listDevices {
  margin-right: 2em;
}

.cardType {
  margin-left: 1em;
}


@import '../node_modules/bootstrap/scss/bootstrap';
@import 'react-pro-sidebar/dist/scss/styles.scss';